
<nav id="sidebar" class="active">
    <h1><a href="index.html" class="logo">A.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Default/Index/"><span class="fa fa-home"></span> Siteyi Gör</a>
        </li>
        <li>
            <a href="/About/Index"><span class="fa fa-user"></span> Hakkında</a>
        </li>
        <li>
            <a href="/Hobby/Index/"><span class="fa fa-user"></span> Hobi</a>
        </li>
        <li>
            <a href="/Skill/SkillList"><span class="fa fa-cogs"></span> Yetenekler</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-user"></span> Kategori</a>
        </li>

        <li>
            <a href="/Project/Index/"><span class="fa fa-sticky-note"></span> Projelerimiz</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-cogs"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-cogs"></span> Referans</a>
        </li>
        <li>
            <a href="/Contact/Index"><span class="fa fa-paper-plane"></span> İletişim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index/"><span class="fa fa-cogs"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Adress/Index/"><span class="fa fa-user"></span> Adres</a>
        </li>
    </ul>

    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> 
            Tüm hakları saklıdır!  <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
        </p>
    </div>
</nav>