@model AcunMedyaAkademiPortfolio.Models.TblSocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Sosyal Medya Hesabı Güncelleme Sayfası</h3>
<form method="post">
    <label>Sosyal Medya ID</label>
    <input type="text" class="form-control" name="SocialMediaId" value="@Model.SocialMediaId" />

    <label>Link</label>
    <input type="text" class="form-control" name="SocialMediaUrl" value="@Model.SocialMediaUrl" />


    <label>Sosyal Medya İsmi</label>
    <input type="text" class="form-control" name="SocialMediaName" value="@Model.SocialMediaName" />

    <label>İkonUrl</label>
    <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" />

    <br /><br />
    <button class="btn btn-info">Güncelle</button>
</form>

