﻿@model List<AcunMedyaAkademiPortfolio.Models.TblHobby>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h3>HOBİLER</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hobi Resmi</th>
        <th>Hobi İsmi</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HobbyId</td>
            <td>@item.IconUrl</td>
            <td>@item.Title</td>
            <td><a href="/Hobby/UpdateHobby/@item.HobbyId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Hobby/DeleteHobby/@item.HobbyId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Hobby/CreateHobby" class="btn btn-success">Yeni Hobi Ekle</a>

