@model AcunMedyaAkademiPortfolio.Models.TblContact
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni İletişim Oluştur</h3>
<form method="post">
    <label>Ad</label>
    <input type="text" class="form-control" name="Name" />

    <label>E-Posta</label>
    <input type="text" class="form-control" name="Email" />

    <label>Konu</label>
    <input type="text" class="form-control" name="Subject" />

    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />

    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</form>