﻿@model AcunMedyaAkademiPortfolio.Models.TblAbout

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkında Güncelleme Sayfası</h3>
<form method="post">
    <label> ID</label>
    <input type="text" class="form-control" name="AboutId" value="@Model.AboutId" />

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />

    <label> Açıklama</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />

    <label> Resim</label>
    <input type="text" class="form-control" name="ImageUrl" value="@Model.ImageUrl" />

    <br /><br />
    <button class="btn btn-info">Hakkında Güncelle</button>
</form>