﻿@model AcunMedyaAkademiPortfolio.Models.TblCategory

@{
    ViewBag.Title = "UpdateCategory";
    
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h3>Kategori Güncelle</h3>
<form method="post">
    <label>Kategori ID</label>
    <input type="text" class="form-control" name="CategoryId" value="@Model.CategoryId" />

    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName" value="@Model.CategoryName" />
    <br /><br />
    <button class="btn btn-info">Kategori Güncelle</button>
</form>
