@model AcunMedyaAkademiPortfolio.Models.TblAdress
@{
    ViewBag.Title = "CreateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Adres Oluştur</h3>
<form method="post">
    <label>Adres Adı</label>
    <input type="text" class="form-control" name="Adress" />

    <label>Telefon</label>
    <input type="text" class="form-control" name="Phone" />

    <label>E-mail</label>
    <input type="text" class="form-control" name="Email" />

    <label>Web Site</label>
    <input type="text" class="form-control" name="Website" />

    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</form>
